<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cn.wa000.business.vote.dao.VoteBeanMapper">
    
    <!-- 查询所有的投票列表 -->
    <select id="queryAllVoteList" resultType="com.cn.wa000.business.vote.bean.VoteMainBean">
	  select * from t_vot_voteshow
	</select>
    
    <!-- 增加一项投票 -->
    <insert id="addvote">
    	insert into t_vot_voteshow (title, createtime) values (#{title} , #{createtime})
    </insert>
    
</mapper>