<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cn.wa000.business.vote.dao.VoteBeanMapper">
    
    <!-- 查询所有的投票列表 -->
    <select id="queryAllVoteList" resultType="com.cn.wa000.business.vote.bean.VoteMainBean">
		select * from t_vot_voteshow
	</select>
    
    <!-- 增加一项投票 -->
    <insert id="addvote">
    	insert into t_vot_voteshow (title, createtime) values (#{title} , #{createtime})
    </insert>
    
    <!-- 根据voteid查询出投票项 -->
    <select id="queryVoteDetailList" resultType="com.cn.wa000.business.vote.bean.VoteDetailBean">
    	select * from t_vot_votedetail where voteid = #{voteid}
    </select>
    
    <!-- 增加一项投票项 -->
    <insert id="addvotedetail">
    	insert into 
    		t_vot_votedetail
    		(
	    		voteid,
	    		itemid,
	    		content,
	    		count,
	    		type
    		)
    		values 
    		(
	    		#{voteid},
	    		((select ifnull(max(itemid),0) from t_vot_votedetail where voteid = #{voteid}) + 1),
	    		#{content},
	    		0,
	    		#{type}
    		)
    </insert>
    
    <!-- 删除一个投票项 -->
    <delete id="deletevotedetail">
    	delete from t_vot_votedetail where voteid = #{voteid} and itemid = #{itemid}
    </delete>
    
    <!-- 根据voteid删除所有投票项 -->
    <delete id="deleteallvotedetail">
    	delete from t_vot_votedetail where voteid = #{voteid}
    </delete>
    
    <!-- 根据voteid删除投票 -->
    <delete id="deletevote">
    	delete from t_vot_voteshow where voteid = #{voteid}
    </delete>
    
    <!-- 根据voteid查询有哪些ip进行过投票 -->
    <select id="queryvoterecord" resultType="com.cn.wa000.business.vote.bean.VoteIpBean">
    	select * from T_VOT_VOTERECORD where voteid = #{voteid}
    </select>
    
    <!-- 投票操作,对相应的投票项加1 -->
    <update id="updateVoteNumber">
    	update t_vot_votedetail 
    	set 
	    	count = 
	    	(
	    	select count + 1 
		    	from t_vot_votedetail 
		    	where voteid = #{voteid} and itemid = #{itemid} 
	    	)
    	where voteid = #{voteid} and itemid = #{itemid}
    </update>
    
    <!-- 把文本框中的内容记录到数据库中 -->
    <insert id="addVoteContent">
    	insert into t_vot_votecontent (voteid, content) values (#{voteid},  #{content})
    </insert>
    
    <!-- 根据voteid查询出所有的其它信息 -->
    <select id="selectVoteContent" resultType="com.cn.wa000.business.vote.bean.VoteContentBean" >
		select content from t_vot_votecontent where voteid = #{voteid} 
    </select>
    
    <!-- 记录投过票的ip -->
    <insert id="logIpforVote">
    	insert into t_vot_voterecord (voteid, ip) values (#{voteid}, #{ip})
    </insert>
    
    <!-- 查询出配置好的 待配对pair信息 -->
    <select id="queryPairInfo" resultType="com.cn.wa000.business.vote.bean.PairBean">
    	select * from t_ucp_pairinfo
    </select>
    
    <!-- 插入pair -->
    <insert id="addPair">
    	insert into t_ucp_pairresult (id, pair, time) values (#{id} + 1, #{pair}, #{time})
    </insert>
    
    <select id="selectMaxPairId" resultType="String">
    	select ifnull(max(id), 0) from t_ucp_pairresult
    </select>
    
    <select id="queryPairResultlist" resultType="com.cn.wa000.business.vote.bean.PairResultBean">
    	select * from t_ucp_pairresult where id = (select max(id) from t_ucp_pairresult)
    </select>
    
</mapper>